<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %></title>
</head>

<body>
  <%- include('./partials/errors.ejs'); %>
  <% if (trainer) {%>
  <form method="POST">
    <label>
      Trainer name:
      <input name="trainerName" value="<%= trainer.name%>">
    </label>
    <label>
      Trainer age:
      <input name="trainerAge" value="<%= trainer.age %>">
    </label>
    <button type="submit">Update</button>
  </form>
  <% } else {%>
  <form method="POST">
    <label>
      Trainer name:
      <input name="trainerName">
    </label>
    <label>
      Trainer age:
      <input name="trainerAge">
    </label>
    <button type="submit">Add</button>
  </form>
  <%}%>

</body>

</html>